.ed-dashboard-container {
  width: 100%;
  height: 93vh;
  display: flex;
}
.ed-dashboard-sidebar {
  width: 300px;
  border-style: solid;
  border-width: 0;
  border: 1px solid #e5e7eb;
  border-color: #e5e7eb;
  background: #ffffff;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}
.ed-dashboard-sidebar .ed-dashboard-sidebar-navlinks {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 20px 0;
  font-size: 18px;
}
.ed-dashboard-sidebar .ed-dashboard-sidebar-navlinks .ed-dashboard-sidebar-navlink {
    text-decoration: none;
  list-style: none;
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  color: #000;
  opacity: 0.7;
  gap: 10px;
  cursor: pointer;
}
.ed-dashboard-sidebar .ed-dashboard-sidebar-navlinks .ed-dashboard-sidebar-navlink:hover {
  color: #000000;
  opacity: 2;
}
.ed-dashboard-sidebar .ed-dashboard-sidebar-navlinks .ed-dashboard-sidebar-navlink.active {
    background: rgb(61, 61, 61);
    color: #ffffff;
    opacity: .7;
    opacity: 2;
}
.ed-dashboard-display-content{
  padding: 20px 40px;
  width: 100%;
}